<h1>Settings</h1>

@{
    ViewData["Title"] = "Edit your profile";
}

@using MyDairy.Service.DTOs.Users;
@model UserUpdateDto

<form asp-controller="Users" asp-action="update" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id" />
    <div class="form-group">
        <label asp-for="Firstname">Firstname</label>
        <input type="text" class="form-control" id="Firstname" name="Firstname" value="@Model.Firstname" maxlength="25" required>
    </div>
    <div class="form-group">
        <label asp-for="Lastname">Lastname</label>
        <input type="text" class="form-control" id="Lastname" name="Lastname" value="@Model.Lastname" maxlength="25" required>
    </div>
    <div class="form-group">
        <label asp-for="Username">Username</label>
        <input type="text" class="form-control" id="Username" name="Username" value="@Model.Username" maxlength="25" required>
    </div>
    <p></p>
    <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-primary mt-3">Save</button>

        <!-- Button for deleting account -->
        <form asp-controller="users" asp-action="Delete" asp-route-id="@Model.Id" method="post" onsubmit="return confirm('Are you sure you want to delete your account?')">
            <button type="submit" class="btn btn-danger mt-3">Delete Account</button>
        </form>
    </div>
</form>
